# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.nc

# gmcore/
run_dir/
vtune/
gmcore/netcdf/
gmcore/lib/container
gmcore/lib/datetime
gmcore/lib/fiona
gmcore/lib/string
gmcore/lib/noahmp*
gmcore/lib/container
gmcore/lib/rrtmgp*
gmcore/lib/flogger
gmcore/lib/quadpack*
gmcore/build/*
gmcore/run/*
gmcore/gptl/*
vtune/
*.vscode*
*.pdf
vtune/
# *.xml