.gitignore
.DS_Store
.vscode
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build*
data
run
test/
__pycache__
*.nc
*.png
*.ps

# CCPP
src/physics/ccpp/host/CCPP_CAPS.*
src/physics/ccpp/host/CCPP_SCHEMES.*
src/physics/ccpp/host/CCPP_STATIC_API.*
src/physics/ccpp/host/CCPP_TYPEDEFS.*
src/physics/ccpp/host/CCPP_VARIABLES_GMCORE.*
src/physics/ccpp/host/ccpp_*_cap.F90
src/physics/ccpp/host/ccpp_static_api.F90
